<div class="content-box">
  <div class="row album">
   <div class="ribbon6">
		<h2><%= @user.name %>さんのアルバム</h2>
	</div>
			<div class="portraits_box">
				<%= render 'portraits/index' %>
			</div>
  </div>
</div>