<h3>通知リスト</h3>
<table class = "anniversary-table">
	<thead>
		<tr>
			<th>日付</th>
			<th>要件</th>
			<th>メモ</th>
		</tr>
	</thead>
    <tbody>
      <% current_user.anniversaries.each do |anniversary| %>
          <tr>
        	<td><%= anniversary.date %></td>
			<td><%= anniversary.title %></td>
			<td><%= anniversary.memo %></td>
		</tr>
	   <% end %>
	</tbody>
</table>

