<h3>供養日通知</h3>
<table class = "anniversary-table">
	<thead>
		<tr>
			<th></th>
			<th>日付</th>
			<th>要件</th>
		</tr>
	</thead>
    <tbody>
      <% anniversaries.each do |anniversary| %>

          <tr>
          	<td>
          		<div class="icon">
          			<%= link_to portrait_anniversaries_path(anniversary.portrait) do %>
          				<%= attachment_image_tag anniversary.portrait, :image, width:"100%", fallback: "pets/no_image.png"%>
          			<% end %>
          		</div>
          	</td>
        	<td><%= anniversary.date %></td>
			<td><%= anniversary.title %></td>

		  </tr>

	   <% end %>
	</tbody>
</table>

