<table class = "anniversary-table">
	<thead>
		<tr>
			<th>日付</th>
			<th>要件</th>
			<th>メモ</th>
		</tr>
	</thead>
<% anniversaries.each do |anniversary| %>
    <tbody>
          <tr>
        	<td><%= anniversary.date %></td>
			<td><%= anniversary.title %></td>
			<td><%= anniversary.memo %></td>
		</tr>
	</tbody>
</table>
<% end %>
