<div class="content-box">
	<div class="topic">
	<div class="topic-title">
			<h3><i>　ワスレナグサにまつわる伝説 　</i></h3>
			<%= image_tag('flowers/forget-me-not.jpg', class: "cover", style: "width:90%;")%>
	</div>
	<div class="topic-text">
<h5>
<i>
<p>昔、ある騎士が、川辺に咲く青く美しい花を見つけ、恋人のために摘もうとしました。
<p>しかし、その騎士は足を滑らせて川に落ちてしまいます。
<p>彼の騎士は、激しい川の流れに飲み込まれつつも、最後の力で摘んだ花を恋人に投げ渡しました。
<p>そして、「僕を忘れないで」という言葉を残して消えてしまったそうです。
<p>恋人は、騎士の墓にその花を供え、彼が残した言葉をその花の名前にしたと伝えられています。
</i>
</h5>
	</div>
	</div>
	<div class="how-to-use">
	<div class="topic-title">
		<h3><i>このサイトの使い方</i></h3>
	</div>
	<hr>
		<h4>ペットのプロフィールを綴ったアルバムを投稿する</h4>
	<hr>
		<h4>ペットにまつわる思い出を投稿する</h4>
	<hr>
		<h4>命日等の設定をする</h4>
	</div>
</div>