<div class="content-box">
	<div class="row top">
		<div class="top-image">
			<div class="top-text">
				<h3><i>〜　亡くなったペットとの大切な思い出を綴るSNS　〜</i></h3>
			</div>
			<div class="top-title">
				<h1>勿忘草</h1>
				<p><b>〜ワスレナグサ〜</b></p>
			</div>
			<div class="top-buttons">
				<p>
					<a href="users/sign_in"><i>ログイン</i></a>
					<a href="users/sign_up"><b>新規登録</b></a>
				</p>

				<p>
		   		<%= link_to ">勿忘草について", homes_about_path, class: "btn btn-success" %>
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="topic">
		<div class="topic-title">
			<h2>このサイトについて</h2>
		</div>
			<div class="top-message">
				このサイトは、ペットを亡くした方のために用意したSNSです。
			</div>
			<hr>
		<div class="top-content">
			<div class="subtitle">
				<h3>●思いを整理する場所</h3>
			</div>
			<div class="col-xs-6 top-content-image">
				<%= image_tag('icon/book_memo.png', class: "cover", style: "width:110%;")%>
			</div>
			<div class="col-xs-6 top-content-text">
				<h4>ペットとの楽しかった日々を思い起こし、<br>心を整理させる場所</h4>
			</div>
		</div>
		<div class="top-content">
			<div class="subtitle">
				<h3>●悲しみを分かち合う場</h3>
			</div>
			<div class="col-xs-6 top-content-image">
				<%= image_tag('icon/remember.png', class: "cover", style: "width:100%;")%>
			</div>
			<div class="col-xs-6 top-content-text">
				<h4>ペットを失った他の人の悲しみにそっと寄り添い<br>悲しみを分かち合う場所</h4>
			</div>
		</div>
		<div class="top-content">
			<div class="subtitle">
				<h3>●命日を通知し供養の準備</h3>
			</div>
			<div class="col-xs-6 top-content-image2">
				<%= image_tag('icon/stationery_notebook01_01', class: "cover", style: "width:100%;")%>
			</div>
			<div class="col-xs-6 top-content-text">
				<h4>設定された特別な日や記念日が近くなると
					供養の準備ができるよう思い出させてくれるリマインダー
				</h4>
			</div>
		</div>
 	</div>
 </div>
</div>