<div class="container">
	<div class="top">
		<div class="top-image">
			<div class="top-text">
				<h3><i>〜大事な思い出を綴るSNS〜</i></h3>
			</div>
			<div class="top-title">
				<h1>勿忘草</h1>
				<p><b>〜ワスレナグサ〜</b></p>
			</div>
			<div class="top-buttons">
				<p>
					<a href="users/sign_in"><i>ログイン</i></a>
					<a href="users/sign_up"><b>新規登録</b></a>
				</p>

				<p>
		   		<%= link_to ">勿忘草について", homes_about_path, class: "btn btn-success" %>
				</p>
			</div>
		</div>
	</div>
	<div class="top-contents">
		<hr>
			<aside>
				<div class="top-content">
				<p>思い出を綴る場所</p>
				</div>
			</aside>
		<hr>		
			<aside>
				<div class="top-content">
				<p>サービス</p>
				</div>
			</aside>
		<hr>		
			<aside>
				<div class="top-content">
				<p>サービス</p>
				</div>
			</aside>
		<hr>
	</div>
</div>