<main>
	<div class="top-image">
		<div class="top-title">
			<h1>勿忘草</h1>
			<p><b>〜ワスレナグサ〜</b></p>
		</div>
		<div class="top-buttons">
			<p>
				<a href="users/sign_in"><i>ログイン</i></a>
				<a href="users/sign_up"><b>新規登録</b></a>
			</p>

			<p>
	   		<%= link_to ">勿忘草について", homes_about_path, class: "btn btn-success" %>
			</p>
		</div>
	<hr>
		<aside>
			<div class="top-contents">
			<p>サービス</p>
			</div>
		</aside>
	<hr>		
		<aside>
			<div class="top-contents">
			<p>サービス</p>
			</div>
		</aside>
	<hr>		
		<aside>
			<div class="top-contents">
			<p>サービス</p>
			</div>
		</aside>
	<hr>

</main>