/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* initialize */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	color: #6c6b6b;
}

a{
	text-decoration: none;
}

.clearfix::after{
	content: "";
	display:block;
	clear:both;
}

/* font (font-family: 'kodomo','yasashisa';で使用可能)*/
@font-face {
  font-family: 'kodomo';
  src: font-url('KodomoRounded-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yasashisa';
  src: font-url('07yasashisa.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* titles */

.ribbon6 {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;
  background: #acd879;
  color: #FFF;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.ribbon6 h2 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 2px rgba(255, 255, 255, 0.5);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
  line-height: 42px;
}

.ribbon6:before, .ribbon6:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon6:before {
  top: -2px;
  left: -2px;
  border-width: 32px 0px 32px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon6:after {
  top: -2px;
  right: -2px;
  border-width: 32px 15px 32px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.subtitle h3 {
  position: relative;
  padding: 8px 15px;
  margin-left: 40px;
  background: #def3ff;
  border-radius: 20px;
}

.subtitle h3:before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  position: absolute;
  font-size: 15px;
  left: -40px;
  bottom: 0;
  color: #def3ff;
}

.subtitle h3:after {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: #def3ff;
}

/* pagginate */
.paginate{
  text-align:center;
}

/* body */

.content-wrapper {
    width:1000px;
    margin:auto;
    height:auto;
    }

/* top */
  .top-image{
  margin-left:0;
  height:800px;
  width:800px;
  border-radius:8px;
  background-image: image-url("icon/girl6_l.png");
  background-size: contain;
  background-repeat: no-repeat;
    }

  .top-text{
  text-align:left;
  margin-left:20px;
  }

  .top-text h3{
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
  background: #e0f3ff;
  border-radius: 0 10px 10px;
  padding:3px 3px 3px 50px;
}

  .top-text h3:before {
  content: "";
  position: absolute;
  background: #9de5ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
  .top-title{
  margin-left:570px;
  text-align:left;
  margin-top:150px;
  padding: 0.1em 0.5em;
  padding-left: 20px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  color: #545454;
  border-radius:24px;
  }

  .top-buttons{
  margin-top:300px;
  padding:30px;
  padding-right:70px;
  text-align:right;
  background-color:rgba(255,255,255,0.6);
  }

.top-contents{
  width:100%;
}
.top-content{
  clear:both;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  width:100%;
  height:400px;
  display:flex;
  flex-flow: row nowrap;
}

.content-image{
  width:40%;
}
.content-text{
  padding-top:150px;
  vertical-align:middle;
  width:50%;

}

/* about */
.topic{
  clear:both;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;

}

.how-to-use{
  margin-top:100px;
  clear:both;
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
}

/* portraits */

.pet-image{
  max-width:700px;
  margin:auto;
  border:solid 4px black;
  border-radius:16px;
}

.portrait-box{
    margin:20px;
}

/* memories */
  .memory-index{
    display:flex;
    justy:flex;
    flex-flow:row wrap;
  }
  .memory-box{
    height: 430px;
    width: 29%;
    margin:10px;
    padding-left: 10px;
    border: 2px solid gray;
    border-radius:16px;
    text-align: left;
  }
  .memory-text{
  height:100px;
  overflow:hidden;
  }
  .memory-when{
  height:50px;
  padding:5px;
  text-align:center;
  vertical-align:middle;
  overflow:hidden;
  background-color:#fce6e8;
  }
  .memory-index-image{
  width:90%;
  height :200px;
  }

  .memory-table{
    margin:auto;
  }

  .memory-index-image img{
   max-height:100%;
   border-radius:16px;
   }

/* users */

.user-box{
  text-align:center;
}
.status {
margin:auto;
overflow: auto;
margin-top: 0; padding: 0;
  a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter; color: gray;
    &:first-child {
      padding-left:65px;
      border: 0; }
      &:hover { text-decoration: none; color: blue;
      }
    }
  strong {
    display: block;
    }
}
.status center{
  padding-left:200px;
}

.timeline-index{
  text-align:center;
  padding-left:20px;
}

.follow_users{
  text-align:left;
  padding-left:80px;
  height:160px;
}

.follow_form{
  border: none;
  box-shadow: none;
}
/* footer */

footer {
    clear:both;
    align-items: center;
    justify-content: center;
    padding-top:60px;
    height: 150px;
    background-image: image-url("flowers/nemophila1.png");
    background-size: cover;
    background-position: 0;
        }


.form-table{
    width:100%;
    border: solid 1px;
}

/*検索用*/
.searched-box{
  padding-left:80px;
  text-align:left;
  height:150px;
}

.sidebar h3{
  text-align:center;
}

.images{
    float:left;
    width:200px;
    max-height:140px;
}
.profiles{
    float:left;
    margin-left:40px;
}

#search_content{
  position:relative;
}

#search_content::before{
  font-family:FontAwesome;
  content:"\e003";
  position:absolute;
  left:0.5em;

}

/*ボタン用*/
.buttons{
  margin:auto;
  margin-top:30px;
}

.btn {
border-radius:8px;
border-bottom: solid 5px #627295;
}

.btn:active {
  -webkit-transform: translateY(4px);  /*ボタンを押したとき*/
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

/* イメージ */
.img-circle{
  max-height:140px;
  margin:5px;
}

.icon{
  max-width:80px;
}

