/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require mvp.css

 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* initialize */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	color: #6c6b6b;
}

a{
	text-decoration: none;
}

.clearfix::after{
	content: "";
	display:block;
	clear:both;
}

/* ribon */
.ribbon6 {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  font-size: 18px;
  background: #acd879;
  color: #FFF;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.ribbon6 h2 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 2px rgba(255, 255, 255, 0.5);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
  line-height: 42px;
}

.ribbon6:before, .ribbon6:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon6:before {
  top: -2px;
  left: -2px;
  border-width: 32px 0px 32px 15px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}

.ribbon6:after {
  top: -2px;
  right: -2px;
  border-width: 32px 15px 32px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
}

.subtitle h3 {
  position: relative;
  padding: 8px 15px;
  margin-left: 40px;
  background: #def3ff;
  border-radius: 20px;
}

.subtitle h3:before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  position: absolute;
  font-size: 15px;
  left: -40px;
  bottom: 0;
  color: #def3ff;
}

.subtitle h3:after {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: #def3ff;
}

/* header */

/* pagginate */
.paginate{
  text-align:center;
}

/* body */

.content-wrapper {
    display: flex;
    width:1000px;
    background-image: image-url("back4.png");
    margin:auto;
    }

/* top */
  .top-image{
  width:800px;
  height:400px;
  border-radius:8px;
  background-image: image-url("beagle1.jpg");
  background-size: contain;
    }

  .top-title{
  text-align:right;
  padding-top:150px;
  margin-right:150px;
  }

  .top-buttons{
  margin-left:100px;
  text-align:left;
  vertical-align:middle;
  }



/* portraits */

.pet-image{
  max-width:700px;
  margin:auto;
  border:solid 12px white;
  border-radius:16px;
}


/* memories */
  .memory-index{
    display:flex;
    justy:flex;
    flex-flow:row wrap;
  }
  .memory-box{
    height: 300px;
    width: 30%;
    margin:10px;
    padding-left: 10px;
    border: 2px solid #FFFFFF;
    border-radius:16px;
    text-align: left;
  }
  .memory-index-image{
  width:90%;
  height :150px;
  }

  .memory-index-image image{
   max-height:100%;
   max-widht:100%;
   }

/* users */

.user-box{
  text-align:center;
}
.status { 
overflow: auto; 
margin-top: 0; padding: 0;
  a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter; color: gray;
    &:first-child {
      padding-left: 0;
      border: 0; }
      &:hover { text-decoration: none; color: blue;
      } 
    }
  strong {
    display: block;
    }
}

.follow_users{
  text-align:left;
  height:130px;
}

.follow_form{
  border: none;
  box-shadow: none;
}

/* footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#a3c9ee;
    height: 100px;
        }

.portrait-box{
    margin:20px;
}
.form-table{
    width:100%;
    border: solid 1px;
}


.memory-table{
    margin:auto;
}

/*動くボタン用*/
.btn {
border-radius:8px;
border-bottom: solid 5px #627295;
}

.btn:active {
  -webkit-transform: translateY(4px);  /*ボタンを押したとき*/
  transform: translateY(2px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

/* イメージ */
.img-circle{
	width:90px;
  margin:5px;
}

