<% if user = current_user %>
<div class="user-box">
    <%= render 'users/status', user: user %>
    <hr>
     <%= render 'anniversaries/index', anniversaries: @anniversaries %>
</div>
<% end %>
<div class="search-box">
	<%= render 'search/search_form' %>